@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
.body {
    font-family: sans-serif;
    background-color: #ffffff;
}

.file-upload {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f7fa;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 320px;
    padding: 58px 45px 66px 46px;
    border-radius: 30px;
    border: dashed 4px white;
    background-color: #3cb371;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1fb264;
    border: 4px dashed #3cb371;
}

img {
    vertical-align: middle;
    border-style: none;
}
.drag-text h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 229px;
    height: 121px;
    margin: 25px 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-align: center;
    color: white;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #f3cf98;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}
.drag-text img {
    width: 55px;
}
.file-upload-image {
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}
.section {
    margin-top: 50px;
}
.title {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #3cb371;
}

.footer p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 2.7;
    letter-spacing: -0.2px;
    opacity: 0.7;
    text-align: center;
    color: black;
    margin-top: -30px;
}
.text-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.spinner-border {
    color: black;
}
.try-again-btn {
    background-color: #3cb371;
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    border-radius: 25px;
}
.try-again-text {
    color: black;
}
.국연수-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.최웅-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.이솔이-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.김지웅-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.엔제이-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.구은호-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.정채란-title {
    color: #3cb371;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.8px;
    text-align: center;
}
.-explain {
    color: #3cb371;
    font-size: 25px;
    line-height: 1.08;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
}
.bar-container {
    height: 2.7rem;
}
.국연수-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #f3cf98;
    opacity: 20%;
}
.국연수-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #f3cf98;
}
.최웅-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #00ff59;
    opacity: 20%;
}
.최웅-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #00ff59;
}
.이솔이-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #d75311;
    opacity: 20%;
}
.이솔이-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #d75311;
}
.김지웅-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #0040ff;
    opacity: 20%;
}
.김지웅-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #0040ff;
}
.엔제이-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #f7c405;
    opacity: 20%;
}
.엔제이-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #f7c405;
}
.구은호-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #cccfff;
    opacity: 20%;
}
.구은호-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #cccfff;
}
.정채란-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    width: 100%;
    background-color: #a33bff;
    opacity: 20%;
}
.정채란-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    border-radius: 20px;
    background-color: #a33bff;
}
.percent-text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: -0.3px;
    text-align: center;
    color: black;
}
.align-items-center {
    align-items: center;
}
.korea-label {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: -0.3px;
    width: 40%;
    height: 1.2rem;
    text-align: left;
    color: black;
    margin-right: 15px;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.text-privacy {
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    font-weight: 800;
    margin-top: 15px;
    line-height: 1.8;
    letter-spacing: -0.3px;
}
.website-counter p {
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.8;
    letter-spacing: -0.3px;
    margin-bottom: -15px;
}
.file-upload {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f7fa;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 320px;
    padding: 58px 45px 66px 46px;
    border-radius: 30px;
    border: dashed 4px white;
    background-color: #3cb371;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1fb264;
    border: 4px dashed #3cb371;
}

img {
    vertical-align: middle;
    border-style: none;
}
.drag-text h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 229px;
    height: 121px;
    margin: 25px 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-align: center;
    color: white;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #f3cf98;
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #cccfff;
    font-size: 10px;
    margin-top: -20px;
    opacity: 50%;
}
.sajin {
    width: 210px;
    margin-top: 23px;
}